@import '../../../../global-style-variables.scss';
.image-placeholder {
  width: $global-image-panel-width;
  height: $global-image-panel-height;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.cropped-image {
  width: $global-image-panel-width;
  height: $global-image-panel-height;
  border-radius: 12px;
}

.cropped-image-auto-resize {
  width: $global-image-panel-height;
  height: $global-image-panel-height;
}

.image-cropper-row {
  max-height: 60vh;
}
