<div class="container">
  @switch (imageSubmitted) {
    @case(false) {
      <div class="image-placeholder border-1 border-surface">
        <i class="pi pi-plus-circle" style="font-size: 3rem; color: gray;"></i>
      </div>
    }
    @case(true) {
      <img [src]="savedCroppedImage" class="cropped-image">
    }
  }

  @switch (imageSubmitted) {
    @case(false) {
      <label class="custom-file-upload">
        <input #cropperImageInput type="file" (change)="onFileSelectHandler($event)" />
        <span>Select Image</span>
      </label>
    }
    @case(true) {
      <div class="m-2 flex">
        <p-button label="Edit" class="mr-3" (onClick)="editHandler($event)"></p-button>
        <p-button label="Clear" (onClick)="clearHandler($event)"></p-button>
      </div>
    }
  }
</div>

<p-dialog header="Crop Image"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="imageDialogVisible"
  [blockScroll]="true"
  [closable]="false"
  [style]="{width: '75vw'}">
  <div class="grid">
    <div class="col-10 image-cropper-row">
      <image-cropper
        [imageChangedEvent]="cropperImageChangedEvent"
        [aspectRatio]="imagePanelWidth / imagePanelHeight"
        [maintainAspectRatio]="true"
        [canvasRotation]="cropperCanvasRotation"
        [containWithinAspectRatio]="cropperContainWithinAspectRatio"
        [resizeToWidth]="imagePanelWidth"
        [onlyScaleDown]="true"
        [transform]="cropperTransform"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed($event)"></image-cropper>
    </div>
    <div class="col-2 flex flex-column">
      <span>Image Preview:</span>
      <img [src]="activeCroppedImage" class="cropped-image">
    </div>
  </div>
  <div class="flex justify-content-around mt-3">
    <p-button label="Rotate Left" (onClick)="cropperRotateLeft()"></p-button>
    <p-button label="Rotate Right" (onClick)="cropperRotateRight()"></p-button>
    <p-button label="Flip Horizontal" (onClick)="cropperFlipHorizontal()"></p-button>
    <p-button label="Flip Vertical" (onClick)="cropperFlipVertical()"></p-button>
    <p-button label="Aspect Ratio" (onClick)="cropperContainWithinAspectRatioToggle()"></p-button>
    <p-button label="Reset Image" (onClick)="cropperResetImage()"></p-button>
  </div>
  <div class="flex justify-content-center align-items-center mt-3">
    <div class="mr-3">
      Zoom Control:
    </div>
    <div class="mr-3">
      <p-inputNumber [(ngModel)]="cropperZoomValue"
        mode="decimal"
        [min]="zoomMinValue"
        [max]="zoomMaxValue"
        [showButtons]="true"
        [step]="zoomStepValue"
        (onInput)="zoomValueChange($event)"></p-inputNumber>
      <p-slider [(ngModel)]="cropperZoomValue"
        [min]="zoomMinValue"
        [max]="zoomMaxValue"
        [step]="zoomStepValue"
        (onChange)="zoomValueChange($event)"></p-slider>
    </div>
    <p-button class="mr-3" label="Cancel" severity="danger" (onClick)="cancelHandler($event)"></p-button>
    <p-button class="mr-3" label="Submit" severity="success" (onClick)="submitHandler($event)"></p-button>
  </div>
</p-dialog>
