<div class="component-container">
  @switch (imageType) {
    @case('none') {
      <div class="image-placeholder border-1 border-surface">
        <i class="pi pi-plus-circle" style="font-size: 3rem; color: gray;"></i>
      </div>
    }
    @case('buffer') {
      <img [src]="'data:image/png;base64,' + editedImageBuffer!.toString('base64')" class="cropped-image">
    }
    @case('path') {
      <img [src]="imagePath" class="cropped-image">
    }
  }
  <label [ngClass]="{'hidden': imageType !== 'none'}" class="custom-file-upload">
    <input #cropperImageInput type="file" (change)="onFileSelectHandler($event)" />
    <span>Select Image</span>
  </label>
  @if (imageType !== 'none') {
    <div class="m-2 flex">
      <p-button label="Delete Image" (onClick)="deleteHandler($event)"></p-button>
    </div>
  }
</div>

<p-dialog header="Crop Image"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="imageDialogVisible"
  [blockScroll]="true"
  [closable]="false"
  [style]="{width: '75vw'}">
  <div class="flex">
    <div class="flex-grow-1 image-cropper-row border-2 border-primary-200 m-2">
      <image-cropper
        [imageChangedEvent]="cropperImageChangedEvent"
        [aspectRatio]="imagePanelWidth / imagePanelHeight"
        [maintainAspectRatio]="true"
        [canvasRotation]="cropperCanvasRotation"
        [containWithinAspectRatio]="cropperContainWithinAspectRatio"
        [resizeToWidth]="imagePanelWidth"
        [onlyScaleDown]="true"
        [allowMoveImage]="true"
        [(transform)]="cropperTransform"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed($event)"></image-cropper>
    </div>
    <div class="flex flex-column" [style]="{width: imagePanelWidth}">
      <span>Image Preview:</span>
      <img [src]="activeCroppedImage" class="cropped-image">
    </div>
  </div>
  <div class="flex justify-content-around mt-3">
    <p-button label="Rotate Left" (onClick)="cropperRotateLeft()"></p-button>
    <p-button label="Rotate Right" (onClick)="cropperRotateRight()"></p-button>
    <p-button label="Flip Horizontal" (onClick)="cropperFlipHorizontal()"></p-button>
    <p-button label="Flip Vertical" (onClick)="cropperFlipVertical()"></p-button>
    <p-button label="Aspect Ratio" (onClick)="cropperContainWithinAspectRatioToggle()"></p-button>
    <p-button label="Reset Image" (onClick)="cropperResetImage()"></p-button>
  </div>
  <div class="flex justify-content-center align-items-center mt-3">
    <div class="mr-3">
      Zoom Control:
    </div>
    <div class="mr-3">
      <p-inputNumber [(ngModel)]="cropperZoomValue"
        mode="decimal"
        [min]="zoomMinValue"
        [max]="zoomMaxValue"
        [showButtons]="true"
        [step]="zoomStepValue"
        (onInput)="zoomValueChange($event)"></p-inputNumber>
      <p-slider [(ngModel)]="cropperZoomValue"
        [min]="zoomMinValue"
        [max]="zoomMaxValue"
        [step]="zoomStepValue"
        (onChange)="zoomValueChange($event)"></p-slider>
    </div>
    <p-button class="mr-3" label="Cancel" severity="danger" (onClick)="cancelHandler($event)"></p-button>
    <p-button class="mr-3" label="Submit" severity="success" (onClick)="submitHandler($event)"></p-button>
  </div>
</p-dialog>
