<div class="container flex-flex-column">
  <div class="image-placeholder"></div>
  <div>Upload Image:</div>
  <input #cropperImageInput type="file" (change)="onFileChangeEvent($event)" />
</div>

<p-dialog header="Crop Image" [modal]="true" [draggable]="false"
  [resizable]="false" [(visible)]="imageDialogVisible" [blockScroll]="true"
  [style]="{width: '75vw'}">
  <div class="grid">
    <div class="col-10 image-cropper-row">
      <image-cropper
      [imageChangedEvent]="cropperImageChangedEvent"
      [aspectRatio]="imagePanelWidth / imagePanelHeight"
      [maintainAspectRatio]="true"
      [canvasRotation]="cropperCanvasRotation"
      [containWithinAspectRatio]="cropperContainWithinAspectRatio"
      [resizeToWidth]="imagePanelWidth"
      [onlyScaleDown]="true"
      [transform]="cropperTransform"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded($event)"
      (cropperReady)="cropperReady($event)"
      (loadImageFailed)="loadImageFailed($event)"></image-cropper>
    </div>
    <div class="col-2">
      <span>Image Preview:</span>
      <img [src]="croppedImage">
    </div>
  </div>
  <div class="flex justify-content-around">
    <p-button label="Rotate Left" (onClick)="cropperRotateLeft()"></p-button>
    <p-button label="Rotate Right" (onClick)="cropperRotateRight()"></p-button>
    <p-button label="Flip Horizontal" (onClick)="cropperFlipHorizontal()"></p-button>
    <p-button label="Flip Vertical" (onClick)="cropperFlipVertical()"></p-button>
    <p-button label="Aspect Ratio" (onClick)="cropperContainWithinAspectRatioToggle()"></p-button>
    <p-button label="Reset Image" (onClick)="cropperResetImage()"></p-button>
  </div>
  <div class="flex justify-content-around">
    <div>
      <p-inputNumber [(ngModel)]="cropperZoomValue"
        mode="decimal"
        [min]="zoomMinValue"
        [max]="zoomMaxValue"
        [showButtons]="true"
        [step]="zoomStepValue"
        (onInput)="zoomValueChange($event)"></p-inputNumber>
      <p-slider [(ngModel)]="cropperZoomValue"
        [min]="zoomMinValue"
        [max]="zoomMaxValue"
        [step]="zoomStepValue"
        (onChange)="zoomValueChange($event)"></p-slider>
    </div>
  </div>
</p-dialog>

<!-- <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="jpeg"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper> -->

<!-- <img [src]="croppedImage" /> -->
<!-- [cropperStaticWidth]="imagePanelHeight"
      [cropperStaticWidth]="imagePanelWidth"
      [resizeToHeight]="imagePanelHeight"
      [resizeToWidth]="imagePanelWidth"
      [containWithinAspectRatio]="true" -->
