<div class="master-container min-h-screen flex flex-row surface-200">
  <div class="sidebar min-h-full flex flex-column static inline flex-shrink-0 surface-0">
    <div class="sidebar__top w-full flex flex-column align-items-center justify-content-center border-bottom-1 border-right-1 surface-border bg-{{highlightColor}}-400">
      <i class="pi pi-th-large" style="font-size: 1.5rem; color: white;"></i>
    </div>
    <div class="sidebar__body w-full flex flex-column flex-grow-1 surface-0">
      <ul class="sidebar__navigation list-none p-2 m-0">
        <li>
          @for (category of contentCategories; track $index) {
            <a pRipple
              routerLink="/{{category.route}}"
              class="sidebar__navigation__link
                p-ripple p-element flex flex-column align-items-center justify-content-center my-3
                cursor-pointer p-3 hover:bg-{{contentCategories[$index].color}}-100 border-round transition-colors transition-duration-150"
              [ngClass]="getSidebarNavItemBackgroundColorClass($index, 100, 400)">
              <i class="pi pi-{{category.icon}}" style="font-size: 1.5rem;"></i>
              <span class="sidebar__navigation__link__text text-center mt-2">{{category.name}}</span>
            </a>
          }
        </li>
      </ul>
    </div>
  </div>
  <div class="content flex-grow-1 flex flex-column">
    <div class="content__header-bar bg-{{highlightColor}}-200 flex max-w-full">
      <p-breadcrumb [model]="breadcrumbMenuItems" [home]="breadcrumbHomeMenuItem" styleClass="bg-{{highlightColor}}-200 border-none pt-4 pl-5"></p-breadcrumb>
    </div>
    <div class="content__menu-bar max-w-full">
      <p-menubar [model]="menuBarConfig[menuBarConfigIndex].menuItems"></p-menubar>
    </div>
    <div class="content__main-content max-w-full flex-grow-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
