$sidebar-width: 100px;
$sidebar-top-height: 60px;
$menu-bar-height: 57.33px;

:host {

}

.content {
  &__header-bar {
    height: $sidebar-top-height;
  }
  &__menu-bar {
    height: $menu-bar-height;
  }
  &__main-content {
    height: calc(($sidebar-top-height + $menu-bar-height) - 100vh);
  }
}

.master-container {
  
}

.sidebar {
  width: $sidebar-width;
  &__top {
    height: $sidebar-top-height;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
