<div class="component-container flex flex-column">
  <span class="p-fluid w-full flex flex-column">
    <label class="tag-manager__label">{{typeLabel | titlecase}}:</label>
    @if (showTooltip) {
      <p-autoComplete
        [suggestions]="suggestedTags"
        [dropdown]="true"
        [placeholder]="placeholderSentence"
        [emptyMessage]="'No unselected items match this search.'"
        [showEmptyMessage]="true"
        [pTooltip]="tooltipSentence"
        [tooltipPosition]="'bottom'"
        [autoOptionFocus]="false"
        [completeOnFocus]="true"
        (completeMethod)="search($event)"
        (onSelect)="select($event)"
        (onKeyUp)="checkKeyUp($event)"></p-autoComplete>
    } @else {
      <p-autoComplete
        [suggestions]="suggestedTags"
        [dropdown]="true"
        [placeholder]="placeholderSentence"
        [emptyMessage]="'No unselected items match this search.'"
        [showEmptyMessage]="true"
        [autoOptionFocus]="false"
        (completeMethod)="search($event)"
        (onSelect)="select($event)"
        (onKeyUp)="checkKeyUp($event)"></p-autoComplete>
    }
  </span>
  <p-fieldset
    class="tag-manager__inventory"
    [legend]="typeLabel | titlecase"
    [style]="{'height.px': staticInventoryHeight, 'overflow': 'auto',}">
    @for(tag of selectedTags; track $index) {
      <p-chip
        styleClass="px-3 py-1"
        [style]="{'margin.px': '2',}">
        <span class="font-medium">{{tag}}</span>
        <span class="pi pi-times-circle ml-2 cursor-pointer" (click)="removeChip($event, tag)"></span>
      </p-chip>
    } @empty {
      <span>No {{typeLabel | titlecase}} have been added yet.</span>
    }
  </p-fieldset>
  <!--TO-DO: Add a tag manager panel that lets users fileter and bulk delete-->
</div>
