<div class="page-container">
  <div class="grid-container w-full px-4 py-4">
    <div class="page-title">
      @if(currentEntityType === 'movie') {<h1>Movies</h1>}
      @if(currentEntityType === 'tv-show') {<h1>TV Shows</h1>}
      @if(currentEntityType === 'video-game') {<h1>Video Games</h1>}
      @if(currentEntityType === 'book') {<h1>Books</h1>}
    </div>
    <div class="filter-bar">
        <app-generic-filter-bar
          [currentEntityType]="currentEntityType"
          [filterGenres]="filterGenres"
          [filterTags]="filterTags"
          (onFilterApply)="applyFilters($event)"
          (onFilterReset)="resetFilters()"></app-generic-filter-bar>
    </div>
    <div class="entity-grid flex flex-column pl-4">
      <div class="entity-grid__sort-bar flex
        align-items-center gap-3 border-500 border-solid
        border-x-none border-top-none">
        <h2>Sort By:</h2>
        <span class="p-float-label">
          <p-dropdown
            [(ngModel)]="selectedSortOption"
            [style]="{width: '200px'}"
            [inputId]="'sort-by'"
            [options]="sortOptions"
            [optionLabel]="'label'"
            [optionValue]="'field'"
            (onChange)="onSortOptionSelect($event)"></p-dropdown>
          <label for="sort-by">Attribute to Sort By</label>
        </span>
        <p-selectButton
          [(ngModel)]="selectedSortOrder"
          [options]="sortOrder"
          [disabled]="sortOrderDisabled"
          optionLabel="label"
          optionValue="value"
          (onChange)="onSortOrderSelect($event)"></p-selectButton>
        <p-button
          [label]="'Reset Sort'"
          (onClick)="resetSort()"></p-button>
      </div>
      <div class="entity-grid__grid-body pt-3">
        @for (entityKey of filteredEntityKeys; track $index) {
          <app-entity-card
            [entity]="entities[entityKey]"
            [displaySortOption]="!sortOrderDisabled"
            [sortOption]="selectedSortOption"
            [dialogEnabled]="true"
            (onEditEntityClick)="navigateToEntityEdit(entities[entityKey], entityKey)"></app-entity-card>
        }
      </div>
    </div>
  </div>
</div>
