<div class="page-container">
  <div class="grid-container w-full px-4 py-4">
    <div class="page-title">
      <h1>Movies</h1>
    </div>
    <div class="filter-bar">
      <p-card header="Filters">
        <span class="filter-bar__container">
          <div class="mb-3 font-semibold">Title: </div>
          <span class="p-float-label">
            <input pInputText id="title" class="p-inputtext-sm" />
            <label for="title">Movie Title</label>
          </span>
          <p-divider></p-divider>
          @if(currentEntityType === 'movie') {
            <div class="mb-3 font-semibold">Writer & Director: </div>
            <span class="p-float-label mb-4">
              <input pInputText id="writer" class="p-inputtext-sm" />
              <label for="title">Writer</label>
            </span>
            <span class="p-float-label">
              <input pInputText id="director" class="p-inputtext-sm" />
              <label for="title">Director</label>
            </span>
            <p-divider></p-divider>
          }
          <div class="mb-3 font-semibold">Release Date: </div>
          <span>
            <span class="p-float-label mb-4">
              <p-calendar
                [styleClass]="'p-inputtext-sm'"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="release-date-start"></p-calendar>
              <label for="release-date-start">From Release Date</label>
            </span>
          </span>
          <span>
            <span class="p-float-label">
              <p-calendar
                [styleClass]="'p-inputtext-sm'"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="release-date-end"></p-calendar>
              <label for="release-date-end">To Release Date</label>
            </span>
          </span>
          <p-divider></p-divider>
          <div class="mb-3 font-semibold">Completion Date: </div>
          <span>
            <span class="p-float-label mb-4">
              <p-calendar
                [styleClass]="'p-inputtext-sm'"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="complete-start-date"></p-calendar>
              <label for="complete-start-date">From Completion Date</label>
            </span>
          </span>
          <span>
            <span class="p-float-label">
              <p-calendar
                [styleClass]="'p-inputtext-sm'"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="complete-end-date"></p-calendar>
              <label for="complete-end-date">To Completion Date</label>
            </span>
          </span>
          <p-divider></p-divider>
          <div class="mb-3 font-semibold">Genres & Tags: </div>
          <span>
            <span class="p-float-label mb-4">
              <p-multiSelect
                [styleClass]="'w-full'"
                [options]="filterGenres"
                inputId="genres-select"></p-multiSelect>
              <label for="genres-select">Genres</label>
            </span>
          </span>
          <span>
            <span class="p-float-label">
              <p-multiSelect
                inputId="tags-select"
                [styleClass]="'w-full'"
                [options]="filterTags">

              </p-multiSelect>
              <label for="tags-select">Tags</label>
            </span>
          </span>
        </span>
      </p-card>
    </div>
    <div class="entity-grid flex flex-column pl-4">
      <div class="entity-grid__sort-bar flex
        align-items-center gap-3 border-500 border-solid
        border-x-none border-top-none">
        <h2>Sort By:</h2>
        <span class="p-float-label">
          <p-dropdown
            [(ngModel)]="selectedSortOption"
            [style]="{width: '200px'}"
            [inputId]="'sort-by'"
            [options]="sortOptions"
            [optionLabel]="'label'"
            [optionValue]="'field'"></p-dropdown>
          <label for="sort-by">Attribute to Sort By</label>
        </span>
        <p-selectButton
          [(ngModel)]="selectedSortOrder"
          [options]="sortOrder"
          [disabled]="sortOrderDisabled"
          optionLabel="label"
          optionValue="value"></p-selectButton>
        <p-button
          [label]="'Reset Sort'"
          (onClick)="resetSort"></p-button>
      </div>
      <div class="entity-grid__grid-body pt-3">
        @for (entity of entityKeys; track $index) {
          <app-entity-card
            [entity]="entities[entity]"></app-entity-card>
        }
      </div>
    </div>
  </div>
</div>
