<p-card header="Filters">
  <span class="filter-bar__container">
    <div class="mb-3 font-semibold">Title: </div>
    <span class="p-float-label">
      <input
        [(ngModel)]="filterCriteria.title"
        pInputText id="title" class="p-inputtext-sm" />
      <label for="title">{{titleLabel}}</label>
    </span>
    <p-divider></p-divider>
    @if(currentEntityType === 'movie') {
      <div class="mb-3 font-semibold">Writer & Director: </div>
      <span class="p-float-label mb-4">
        <input
          [(ngModel)]="filterCriteria.movieWriter"
          pInputText id="writer" class="p-inputtext-sm" />
        <label for="title">Writer</label>
      </span>
      <span class="p-float-label">
        <input
          [(ngModel)]="filterCriteria.movieDirector"
          pInputText id="director" class="p-inputtext-sm" />
        <label for="title">Director</label>
      </span>
      <p-divider></p-divider>
    }
    <div class="mb-3 font-semibold">Release Date: </div>
    <span>
      <span class="p-float-label mb-4">
        <p-calendar
          [(ngModel)]="filterCriteria.fromReleaseDate"
          [styleClass]="'p-inputtext-sm'"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="release-date-start"></p-calendar>
        <label for="release-date-start">From Release Date</label>
      </span>
    </span>
    <span>
      <span class="p-float-label">
        <p-calendar
          [(ngModel)]="filterCriteria.toReleaseDate"
          [styleClass]="'p-inputtext-sm'"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="release-date-end"></p-calendar>
        <label for="release-date-end">To Release Date</label>
      </span>
    </span>
    <p-divider></p-divider>
    <div class="mb-3 font-semibold">Completion Date: </div>
    <span>
      <span class="p-float-label mb-4">
        <p-calendar
          [(ngModel)]="filterCriteria.fromCompletionDate"
          [styleClass]="'p-inputtext-sm'"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="complete-start-date"></p-calendar>
        <label for="complete-start-date">From Completion Date</label>
      </span>
    </span>
    <span>
      <span class="p-float-label">
        <p-calendar
          [(ngModel)]="filterCriteria.toCompletionDate"
          [styleClass]="'p-inputtext-sm'"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="complete-end-date"></p-calendar>
        <label for="complete-end-date">To Completion Date</label>
      </span>
    </span>
    <p-divider></p-divider>
    <div class="mb-3 font-semibold">Genres & Tags: </div>
    <span>
      <span class="p-float-label mb-4">
        <p-multiSelect
          [(ngModel)]="filterCriteria.genres"
          [styleClass]="'w-full'"
          [options]="filterGenres"
          inputId="genres-select"></p-multiSelect>
        <label for="genres-select">Genres</label>
      </span>
    </span>
    <span>
      <span class="p-float-label">
        <p-multiSelect
          [(ngModel)]="filterCriteria.tags"
          [styleClass]="'w-full'"
          [options]="filterTags"
          inputId="tags-select">
        </p-multiSelect>
        <label for="tags-select">Tags</label>
      </span>
    </span>
    <p-divider></p-divider>
    <span>
      <p-button severity="secondary" label="Reset" (onClick)="emitFilterResetEvent()"></p-button>
      <p-button [styleClass]="'ml-2'" label="Apply" (onClick)="emitFilterEvent()"></p-button>
    </span>
  </span>
</p-card>
