<p-card [style]="{height: '100%'}">
  <ng-template pTemplate="header">
    @if(loadingImage) {
      <div class="w-full flex justify-content-center pt-8">
        <p-progressSpinner></p-progressSpinner>
      </div>
    } @else {
      <p-image [src]="fullImagePath" width="180"
        [imageStyle]="{'border-top-right-radius': '6px',
          'border-top-left-radius': '6px'
        }"></p-image>
    }
  </ng-template>
  <ng-template pTemplate="content">
    <span class="entity-title">
      {{entity.title}}
    </span>
  </ng-template>
  <ng-template pTemplate="footer"></ng-template>
</p-card>
