<form #movieForm="ngForm" (ngSubmit)="onSubmit(movieForm)" class="h-full">
<p-card [header]="movie.title" class="card">
  <ng-template pTemplate="content">
    <div class="card__body-container flex" style="height: 550px">
      <div class="card__body-left">
        <span>Image Preview:</span>
        <app-image-uploader
          [imagePath]="imageUrl"
          (onImageSubmission)="setNewSubmittedImageBuffer($event)"
          (onImageDeletion)="imageDeletionHandler($event)"></app-image-uploader>
      </div>
      <div class="card__bord-right flex-grow-1 ml-2">
        <p-tabView [(activeIndex)]="tabViewActiveIndex">
          <p-tabPanel header="Meta Data">
            <div class="formgrid grid w-full">
              <div class="field col-12">
                <label for="movie-title">Movie Title:</label>
                <input
                  [(ngModel)]="movie.title"
                  [required]="true"
                  id="movie-title"
                  name="title"
                  type="text"
                  class="w-full p-2"
                  pInputText/>
              </div>
              <div class="field col-6">
                <label for="movie-writer">Writer:</label>
                <input
                  [(ngModel)]="movie.writer"
                  [required]="true"
                  id="movie-writer"
                  name="writer"
                  type="text"
                  class="w-full p-2"
                  pInputText/>
              </div>
              <div class="field col-6">
                <label for="movie-director">Director:</label>
                <input
                  [(ngModel)]="movie.director"
                  [required]="true"
                  id="movie-title"
                  name="director"
                  type="text"
                  class="w-full p-2"
                  pInputText/>
              </div>
              <div class="field col-6 flex flex-column">
                <label for="movie-release-year">Release Date:</label>
                <p-calendar
                  [(ngModel)]="movie.releaseDate"
                  [inputStyleClass]="'w-full p-2'"
                  [styleClass]="'w-full'"
                  [required]="true"
                  id="movie-release-date"
                  name="release-date"
                  inputId="movie-release-date"
                  class="text-base text-color
                    surface-overlay surface-border
                    border-round appearance-none
                    outline-none focus:border-primary"></p-calendar>
              </div>
              <div class="field col-6 flex flex-column">
                <label for="movie-runtime">Runtime (in minutes):</label>
                <p-inputNumber
                  [(ngModel)]="movie.runtime"
                  [style]="{width: '100%', height: '36px'}"
                  [suffix]="' Minutes'"
                  [required]="true"
                  inputId="movie-runtime"
                  name="runtime"></p-inputNumber>
              </div>
              <div class="field col-12">
                <label for="movie-plotsummary">Plot Summary:</label>
                <textarea
                  [(ngModel)]="movie.plotSummary"
                  pInputTextarea
                  class="w-full"
                  maxlength="750"
                  name="plot-summary"></textarea>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Categories">
            <div class="formgrid grid w-full">
              <div class="field col-6 flex flex-column">
                <app-tag-array-manager
                  [(selectedTags)]="movie.genres"
                  [typeLabel]="'genres'"
                  [availableTags]="genresAutoCompleteItems"
                  (onNewTagCreated)="genresNewItems.push($event)"
                  name="genres"></app-tag-array-manager>
              </div>
              <div class="field col-6 flex flex-column">
                <span class="p-fluid">
                  <app-tag-array-manager
                    [(selectedTags)]="movie.tags"
                    [typeLabel]="'tags'"
                    [availableTags]="tagsAutoCompleteItems"
                    (onNewTagCreated)="tagsNewItems.push($event)"
                    name="tags"></app-tag-array-manager>
                </span>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Review">
            <div class="formgrid grid w-full">
              <div class="field col-6 flex flex-column">
                <label for="movie-user-completion-status">Completion Status:</label>
                <p-dropdown
                  [(ngModel)]="movie.completionStatus"
                  [options]="completedStatusOptions"
                  [styleClass]="'w-full mb-2'"
                  (onChange)="testEvent($event)"
                  id="movie-user-completion-status"
                  name="user-completion-status"
                  optionLabel="label"
                  optionValue="status"
                  class="text-base text-color
                    surface-overlay surface-border
                    border-round appearance-none
                    outline-none focus:border-primary"></p-dropdown>
                <label for="movie-user-date-completed">Date Watched:</label>
                <p-calendar
                  [(ngModel)]="movie.userDateCompleted"
                  [inputStyleClass]="'w-full p-2'"
                  [styleClass]="'w-full'"
                  id="movie-user-date-completed"
                  name="user-date-completed"
                  inputId="movie-user-date-completed"
                  class="text-base text-color
                    surface-overlay surface-border
                    border-round appearance-none
                    outline-none focus:border-primary"></p-calendar>
              </div>
              <div class="field col-6 flex flex-column">
                <label for="movie-user-rating">Rating:</label>
                <p-knob
                  [(ngModel)]="movie.userRating"
                  [valueColor]="userRatingKnobColor"
                  (onChange)="setUserRatingKnobColor($event)"
                  name="user-rating-knob"
                  class="m-auto"></p-knob>
                <p-inputNumber
                  [(ngModel)]="movie.userRating"
                  [showButtons]="true"
                  [buttonLayout]="'horizontal'"
                  [decrementButtonClass]="'p-button-danger'"
                  [decrementButtonIcon]="'pi pi-minus'"
                  [incrementButtonClass]="'p-button-success'"
                  [incrementButtonIcon]="'pi pi-plus'"
                  [step]="5"
                  [suffix]="' / 100'"
                  [min]="0"
                  [max]="100"
                  (onInput)="setUserRatingKnobColor($event)"
                  name="user-rating-number"
                  inputId="movie-user-rating"
                  class="m-auto"></p-inputNumber>
              </div>
              <div class="field col-12 flex flex-column">
                <label>Review:</label>
                <p-editor
                  [(ngModel)]="movie.userReview"
                  [style]="{width: '100%', height: '200px'}" name="user-review"></p-editor>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="footer-buttons flex justify-content-between">
      <span class="button-group-left">
        @if(deleteVisible) {
          <p-button label="Delete" severity="danger" icon="pi pi-trash" (onClick)="onDeletion()"></p-button>
        }
      </span>
      <span class="button-group-right">
        <p-button class="mr-3" label="Cancel" severity="secondary" (onClick)="onCancel()"></p-button>
        <p-button label="Save" severity="success" type="submit"></p-button>
      </span>
    </div>
  </ng-template>
</p-card>
</form>

