<p-card [header]="movie.title" class="card">
  <div class="card__body-container flex">
    <div class="card__body-left">
      <span>Image Preview:</span>
      <app-image-uploader></app-image-uploader>
    </div>
    <div class="card__bord-right flex-grow-1 ml-2">
      <p-tabView>
        <p-tabPanel header="Meta Data">
          <div class="formgrid grid w-full">
            <div class="field col-12">
              <label for="movie-title">Movie Title:</label>
              <input id="movie-title" type="text" pInputText class="w-full p-2"/>
            </div>
            <div class="field col-6">
              <label for="movie-writer">Writer:</label>
              <input id="movie-writer" type="text" pInputText class="w-full p-2"/>
            </div>
            <div class="field col-6">
              <label for="movie-director">Director:</label>
              <input id="movie-title" type="text" pInputText class="w-full p-2"/>
            </div>
            <div class="field col-6 flex flex-column">
              <label for="movie-release-year">Release Year:</label>
              <p-calendar
                [inputStyleClass]="'w-full p-2'"
                [styleClass]="'w-full'"
                view="year"
                dateFormat="yy"
                inputId="movie-release-year"
                class="text-base text-color
                  surface-overlay surface-border
                  border-round appearance-none
                  outline-none focus:border-primary"></p-calendar>
            </div>
            <div class="field col-6">
              <label for="movie-runtime">Runtime:</label>
              <input id="movie-runtime" type="text" pInputText class="w-full p-2"/>
            </div>
            <div class="field col-12">
              <label for="movie-plotsummary">Plot Summary:</label>
              <textarea pInputTextarea class="w-full" [autoResize]="true"></textarea>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Categories">

        </p-tabPanel>
        <p-tabPanel header="Review">
          <div class="formgrid grid w-full">
            <div class="field col-6 flex flex-column">
              <label for="movie-user-date-completed">Date Watched:</label>
              <p-calendar
                [inputStyleClass]="'w-full p-2'"
                [styleClass]="'w-full'"
                inputId="movie-user-date-completed"
                class="text-base text-color
                  surface-overlay surface-border
                  border-round appearance-none
                  outline-none focus:border-primary"></p-calendar>
            </div>
            <div class="field col-6 flex flex-column">
              <label for="movie-user-rating">Rating:</label>
              <p-knob [readonly]="true" class="m-auto"></p-knob>
              <p-inputNumber
                [showButtons]="true"
                [min]="0"
                [max]="100"
                inputId="movie-user-rating" 
                class="m-auto"></p-inputNumber>
            </div>
            <div class="field col-12 flex flex-column">
              <label>Review:</label>
              <p-editor [style]="{width: '100%', height: '500px'}"></p-editor>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
      <div class="flex justify-content-end">
        <p-button class="mr-3" label="Cancel" severity="danger"></p-button>
        <p-button label="Save" severity="success"></p-button>
      </div>
    </div>
  </div>
</p-card>

