<p-card header="New Movie" class="card">
  <div class="card__body-container flex">
    <div class="card__body-left">
      <app-image-uploader></app-image-uploader>
    </div>
    <div class="card__bord-right flex-grow-1 ml-2">
      <p-tabView>
        <p-tabPanel header="Meta Data">
          <div class="formgrid grid w-full">
            <div class="field col-12">
              <label for="movie-title">Movie Title:</label>
              <input id="movie-title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
            </div>
            <div class="field col-6">
              <label for="movie-writer">Writer:</label>
              <input id="movie-title" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
            </div>
            <div class="field col-6">
              <label for="movie-director">Director:</label>
              <input id="movie-director" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
            </div>
            <div class="field col-6 flex flex-column">
              <label for="movie-release-year">Release Year:</label>
              <p-calendar 
                [(ngModel)]="date" 
                [inputStyleClass]="'w-full'" 
                [styleClass]="'w-full'" 
                view="year" 
                dateFormat="yy" 
                inputId="movie-release-year" 
                class="text-base text-color surface-overlay surface-border
                 border-round appearance-none outline-none focus:border-primary"></p-calendar>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Categories">

        </p-tabPanel>
        <p-tabPanel header="Review">

        </p-tabPanel>
      </p-tabView>

    </div>
  </div>
</p-card>
