<div class="master-container min-h-screen flex flex-row surface-200">
  <div class="sidebar min-h-full flex flex-column static inline flex-shrink-0 surface-0 border-round-right-3xl">
    <h1 class="sidebar__header">Content Log</h1>
    <p-divider></p-divider>
    <div class="sidebar__container w-full flex flex-column">
      <ul class="sidebar__navigation list-none p-2 m-0">
        <li>
          @for (category of contentCategories; track $index) {
            <a pRipple class="sidebar__navigation__link p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 border-round transition-colors transition-duration-150">
              <i class="pi pi-{{category.icon}} mr-2 text-700" style="font-size: 1.5rem;"></i>
              <span class="sidebar__navigation__link__text">{{category.name}}</span>
            </a>
          }
        </li>
      </ul>
    </div>
  </div>
  <div class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>